
// MENU

.menu {
  text-transform: uppercase;
}


// HEADER ANIMATIONS

@keyframes logo-stroke {
  0% {
    stroke-dashoffset: 22em;
  }
  71% {
    stroke-dashoffset: 0em;
  }
}
@keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section--header {
  .image__inner {
    stroke-dasharray: 22em;
    animation: logo-stroke 2s cubic-bezier(.47,0,.745,.715) 0s both;
    > path:last-child {
      animation: logo-text .5s cubic-bezier(.47,0,.745,.715) 1.5s both;
    }
  }
}


// HOME HEADER SHADOW

#body-inicio {
  &.body-top .menu,
  #header .container {
    filter: drop-shadow(.125rem .125rem .25rem rgba(0, 0, 0, 0.5));
  }
}


// BG TEAM ALIGN TOP

#equipo {
  .bg-figure-image {
    &, & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 25%;
    }
  }
}

// SUBTITLES

.subtitle {
  font-size: 1.75em;
}

// BLOCKQUOTE SUBTITLES

blockquote.subtitle {
  font-size: 1.5em;
  padding-inline: 1em;
  &:before,
  &:after {
    font-size: 1.75em;
    top: -.25em;
    bottom: unset;
  }
}


// CARDS

.column--card {
  .column__content {
    font-size: 1.5em;
    margin-bottom: 50%;
    transform: translateY(-50%);
    background-image: none;
    text-shadow: 1px 2px 4px black;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0;
    padding-top: 1em;
  }
}

// SLIDERS

.section--paddings-hide:not(#aux) {
  .column__content {
    padding: 0;
  }
}


// OLD

// .button-up--active {
//   transform: scale(.875);
//   transform-origin: bottom right;
// }
// #servicios {
//   .column__header {
//     margin-top: auto;
//     padding: 5em 0;
//   }
// }
// #equipo {
//   .image {
//     max-width: 12em;
//   }
// }
// #opiniones {
//   .reviews-item-icon {
//     fill: $light;
//   }
//   .reviews__item-figure {
//     background-color: $white;
//   }
//   // .button {
//   //   &:before {
//   //     background-color: $white;
//   //   }
//   //   &:hover:before {
//   //     background-color: $grey;
//   //   }
//   // }
// }
// #body-decoracion {
//   .section--1 .column--item-4 {
//     .content__figure {
//       margin-bottom: 0;
//     }
//   }
// }


// ARTICLES

// .bg-white {
//   .article > section:not(#toc) {
//     :not([id]) > {
//       a,
//       i[data-h],
//       i[data-b] {
//         &:not(button, .button) {
//           color: $main;
//         }
//       }
//     }
//   }
// }
// .toc li:before {
//   color: $main;
// }