
// MENU

.menu {
  text-transform: uppercase;
}


// HEADER ANIMATIONS

@keyframes logo-stroke {
  0% {
    stroke-dashoffset: 22em;
  }
  71% {
    stroke-dashoffset: 0em;
  }
}
@keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section--header {
  .image__inner {
    stroke-dasharray: 22em;
    animation: logo-stroke 2s cubic-bezier(.47,0,.745,.715) 0s both;
    > path:last-child {
      animation: logo-text .5s cubic-bezier(.47,0,.745,.715) 1.5s both;
    }
  }
}


// HOME HEADER SHADOW

// #body-inicio {
//   &.body-top .menu,
//   #header .container {
//     filter: drop-shadow(.125rem .125rem .25rem rgba(0, 0, 0, 0.5));
//   }
// }


// BG TEAM ALIGN TOP

#equipo {
  .bg-figure-image {
    &, & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 25%;
    }
  }
}


// VERTICAL BG

#preservados {
  .column--only-bg:not(.aux):nth-child(5) {
    min-height: calc(var(--column-width) * 1.6);
  }
}


// BASE TEXT

p:not(blockquote.subtitle p, .buttons, .subtitle, .h6, .cookies *),
.description li:not(.list-inline li),
.button--font-alt > i:not(.cookies *),
.contact__schedule-item > i {
  font-size: 21px;
  transform: translateY(.125em);
}
.menu__link > i,
.list-inline div > i {
  transform: translateY(.125em);
}


// TITLE AND SUBTITLE COLOR IN BG ALT LIGHT

.bg-alt-light {
  .section__header {
    .section__title h2 {
      --title: var(--light);
    }
    .subtitle {
      --subtitle: var(--light);
    }
  }
}

// SUBTITLES

.subtitle {
  font-size: 1.5em;
}

// BLOCKQUOTE SUBTITLES

blockquote.subtitle {
  font-size: 1.5em;
  display: block;
}
blockquote:not(#aux, .review__text) {
  padding: 0;
  width: auto;
  &:before,
  &:after {
    position: static;
    content: none;
  }
  p {
    &:before,
    &:after {
      content: '“';
      color: var(--main);
      // font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
    }
    &:before {
      margin-left: -.625em;
      margin-right: .125em;
    }
    &:after {
      content: '”';
      margin-right: -.625em;
      margin-left: .125em;
    }
  }
}
// blockquote.subtitle {
//   font-size: 1.5em;
// }
// blockquote:not(#aux, .review__text) {
//   padding-inline: 0.75em;
//   &:before,
//   &:after {
//     font-size: 1em;
//     line-height: 1.25;
//   }
// }


// CARDS

.column--card {
  justify-content: center;
  .column__content {
    margin: 0;
    font-size: 1.5em;
    background-image: none;
    text-shadow: $shadow;
    background-color: rgba($dark, .5);
    border-radius: 0;
    padding-top: 1em;
  }
}

// SLIDERS

.section--paddings-hide:not(#aux) {
  .column__content {
    padding: 0;
  }
}


// REMOVE ROTATE ANIMATION HOVER GALLERY

:root {
  --gallery-image-hover-transform: scale(1.125);
  --gallery-image-hover-transform-odd: scale(1.125);
}


// SIGN ANIMATION

.content {
  mark.sign {
    svg:first-child {
      animation: 5s forwards headline-dash;
      animation-delay: 0s;
      @keyframes headline-dash {
        20% {
          stroke-dasharray: 0 1500;
          opacity: 0;
        }
        21% {
          opacity: 1;
        }
        0%, 40%, 100%{
          stroke-dasharray: 1500 1500;
          opacity: 1;
        }
      }
    }
  }
}


// CALL ANIMATION

.callnow__caption {
  animation: callnow 20s infinite;
}
@keyframes callnow {
  0%,
  30%,
  100% {
    transform: translateY(calc(0em + var(--callnow-caption-top, 0em)));
    opacity: 0;
    visibility: hidden;
  }
  5%,
  25% {
    transform: translateY(calc(-2rem + var(--callnow-caption-top, 0em)));
    opacity: 1;
    visibility: visible;
  }
}


// OLD

// .button-up--active {
//   transform: scale(.875);
//   transform-origin: bottom right;
// }
// #servicios {
//   .column__header {
//     margin-top: auto;
//     padding: 5em 0;
//   }
// }
// #equipo {
//   .image {
//     max-width: 12em;
//   }
// }
// #opiniones {
//   .reviews-item-icon {
//     fill: $light;
//   }
//   .reviews__item-figure {
//     background-color: $white;
//   }
//   // .button {
//   //   &:before {
//   //     background-color: $white;
//   //   }
//   //   &:hover:before {
//   //     background-color: $grey;
//   //   }
//   // }
// }
// #body-decoracion {
//   .section--1 .column--item-4 {
//     .content__figure {
//       margin-bottom: 0;
//     }
//   }
// }


// ARTICLES

// .bg-white {
//   .article > section:not(#toc) {
//     :not([id]) > {
//       a,
//       i[data-h],
//       i[data-b] {
//         &:not(button, .button) {
//           color: $main;
//         }
//       }
//     }
//   }
// }
// .toc li:before {
//   color: $main;
// }